<html ng-app>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}")>
	<head>
	<style>
		#content{
			margin-top:-25px;
		}
	</style>
	<body>
		<header id="bar">
			<span id="logo"><img src="../../../static/empatica_logo.png" width="25" height="25"/>Empatica Dashboard</span>
			<a id="sessions_link" href="/app/god/users">Users</a>
			<span id="logout"><a href="../../../" id="lb"></a></span>
		 </header>
		<div id="content">
			<div class="empaticabox_feed_container">
				Hello all mighty supreme user. Me, your humble servant want to tell you something...
				<img src="../../../static/saintignucius.jpg"/>
				<h1>GOD MODE IS ACTIVATED</h1>
				<br>Please do whatever your greatness feel like.
			</div>
		
		</div>
		</body>
		</html>
