<html ng-app>
	<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}")>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<head>
	<body>
		<header id="bar">
			<span id="logo"><img src="../../../static/empatica_logo.png" width="25" height="25"/>Empatica Dashboard</span>
			<span id="logout"><a href="../../../" id="lb"></a></span>
		 </header>
		<div id="content">
			<div class="userdata">
			</div>
			<div class="empaticabox_feed_container">
				Welcome suport team user!
				<br>Please enter the Empatica device ID to check it status
				<br><input type="text" ng-model="deviceModel" placeholder="Empatica device ID"></input>			  
				<a class="empaticabutton" href="support/{% raw %}{{deviceModel}} {% endraw %}">Test</a>
				<h1>Device: {% raw %} {{deviceModel}} {% endraw %}</h1>
			</div>
		
		</div>
		</body>
		</html>
